{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block scripts %}
    <script src="{% static 'sales/home.js'%}" defer> </script>
{% endblock scripts %}

{% block title %}
Home
{% endblock title %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-body">
        <div id="alert-box"></div>
        <form id="report-form" autocomplete="off">
            {% csrf_token %}
            {{report_form | crispy}}
            <button type="submit" class="btn btn-info mt-3">Save</button>
        </form>
      </div>
      
    </div>
  </div>
</div>

{% if no_data %}

    <div class="alert alert-warning" role="alert">
        {{no_data}}
    </div>

{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    {{form | crispy}}
    <button type="submit" class= "btn btn-primary mt-3">Search </button>
</form>
<br/>

{% if sales_df %}
    <h2>Sales Information</h2>
    {{sales_df | safe}}
    <br><br>
    <h2>Positions Information</h2>
    {{positions_df | safe}}
    <br><br>
    <h2>Merged Table</h2>
    {{merged_df | safe}}
    <br><br>
    <h2>Grouped BY Df</h2>
    {{df | safe}}
    <br>
    <h2>Chart</h2>
    <img src="data:image/png;base64, {{chart|safe}}" id="img"/>
    {% comment %} <button class="btn btn-success">Report</button> {% endcomment %}

{% endif %}

<br/>

<button class="btn btn-primary invisible" id="report-btn" data-bs-toggle="modal" data-bs-target="#reportModal">Add Report </button>

{% endblock content %}

