{% extends 'base.html' %}

{% block title %}
Sales List
{% endblock title %}

{% block content %}
sales list 
<br/>

{% comment %} if context_object_name is not defined in views.py{% endcomment %}
{% for obj in object_list %}
    {% comment %} <a href="{% url 'sales:detail' obj.pk %}" class="card-body" > {{obj.transaction_id}} </a> {% endcomment %}
    
    <div class= "card mb-3">
        <a href="{{obj.get_absolute_url}}" class="card-body"> {{obj.transaction_id}} </a>
    </div>  
{% endfor %} 

{% comment %} if context_object_name is defined in views.py {% endcomment %}
{% comment %} {% for obj in obj_list %}
    {{obj.transaction_id} }
    <br/>
{% endfor %} {% endcomment %}

{% endblock content %}